# pybuilder
.pybuilder/
__pycache__/

# lein
target/
.lein-repl-history
.lein-failures
pom.*

# cljs
.shadow-cljs
.nrepl-*
package-lock.json
node_modules/
public/js/
logs/

# ide
.calva

*.iml
.idea/

# config files
my-auth.edn
my-config.edn
auth.edn
config.edn

# certificate
ca.crt

# chaches
.clj-kondo/.cache
.lsp/.cache/

.eastwood