{:input {:user :k8s
         :external-ip "95.217.221.140"
         :fqdn "cloud.test.meissa-gmbh.de"
         :cert-manager :letsencrypt-staging-issuer
         :db-user-password "test1234"
         :admin-user "root"
         :admin-password "test1234"
         :storage-size 50
         :restic-repository "cloud"
         :aws-access-key-id "10"
         :aws-secret-access-key "secret"
         :restic-password "test4321"}
 :expected {:user :k8s, :k8s {:external-ip "95.217.221.140"}, 
            :cert-manager :letsencrypt-staging-issuer}}

{:input {:user :k8s
         :external-ip "95.217.221.140"
         :fqdn "cloud.test.meissa-gmbh.de"
         :cert-manager :letsencrypt-staging-issuer
         :db-user-password "test1234"
         :admin-user "root"
         :admin-password "test1234"
         :storage-size 50
         :restic-repository "cloud"
         :aws-access-key-id "10"
         :aws-secret-access-key "secret"
         :restic-password "test4321"
         :u18-04 true}
 :expected {:user :k8s, :k8s {:external-ip "95.217.221.140", :u18-04 true}
            :cert-manager :letsencrypt-staging-issuer}}
