{:input {:user :k8s
         :external-ip "95.217.221.140"
         :fqdn "cloud.test.meissa-gmbh.de"
         :cert-manager :letsencrypt-staging-issuer
         :db-user-password "test-1234"
         :admin-user "root"
         :admin-password "test1234"
         :storage-size 50
         :restic-repository "test4321"
         :aws-access-key-id "10"
         :aws-secret-access-key "secret"
         :restic-password "test4321"} 
 :expected false
 }
