{:input {:user :k8s
         :external-ip "95.217.221.140"
         :fqdn "cloud.test.meissa-gmbh.de"
         :cert-manager :letsencrypt-staging-issuer
         :db-user-password "test1234"
         :admin-user "root"
         :admin-password "test1234"
         :storage-size 50
         :restic-repository "test4321"
         :aws-access-key-id "10"
         :aws-secret-access-key "secret"
         :restic-password "test4321"} 
 :expected {:meissa-cloud
             {:user :k8s
              :backup {:restic-repository "test4321"
                       :aws-access-key-id "10"
                       :aws-secret-access-key "secret"
                       :restic-password "test4321"}
              :cloud {:fqdn "cloud.test.meissa-gmbh.de"
                      :secret-name "cloud-test-meissa-gmbh-de"
                      :cluster-issuer "letsencrypt-staging-issuer"
                      :db-name "cloud"
                      :db-user-password "test1234"
                      :db-user-name "cloud"
                      :admin-user "root"
                      :admin-password "test1234"
                      :storage-size "50"}
              :postgres {:db-user-password "test1234"
                         :db-user-name "cloud"}}}
 }
